{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liip Imagine Bundle Examples</h1>
            <ul>
                <li><a href="{{ path('auto_rotate') }}">Auto rotate + resizing</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
